<h1>Welcome to Uno Game</h1>
<div>
  <table>
    <th>Number of players:</th>
      <td>
         <p>{{getPlayersCount()}}</p>
      </td>
      <td>
        <button type="button" (click)="incrementValue()" id="btnAdd">Add Player</button>
      </td>
      <td>
        <button type="button" (click)="decreaseValue()" id="btnRemove">Remove Player</button>
      </td>
      <td>
        <button type="button" (click)="dealCards()" class="md-buttonStart">Start Game</button>
      </td>
  </table>
</div>
<div>
   <table>
    <tr *ngFor="let player of getPlayers()">
        <td>{{player.name}}</td>
      <td *ngFor="let card of player.cards">
        <img src={{card.imageUrl}}>
      </td>
    </tr>
  </table> 
</div>
<hr>
<footer>
  Created by SA 44 <br/>
  Justin Arvin Amit, Shang Ziqi, Trisha Clarissa Natanael
</footer>