<h1>Welcome to Uno Game</h1>
<div>
  <table>
    <th>Number of players:</th>
    
      <td>
        <input type="text" id="number" value = "2" readonly="true" />
      </td>
      <td>
        <button type="button" (click)="incrementValue()" id="btnAdd">Add Player</button>
      </td>
      <td>
        <button type="button" (click)="decreaseValue()" id="btnRemove">Remove Player</button>
      </td>
      <td>
        <button type="button" (click)="getPlayersCount()" class="md-buttonStart">Start Game</button>
      </td>
  </table>
</div>
<div id = "displayCards">
  <h1>Let's Play!</h1>
  <table>
    <tr *ngFor="let player of dealCards()">
      <td>
        {{player.name}}
      </td>
      <td *ngFor="let card of player.cards">
        <img src={{card.image}}>
      </td>
    </tr>
  </table>
</div>
<hr>
<footer>
  Created by SA 44 <br/>
  Justin Arvin Amit, Shang Ziqi, Trisha Clarissa Natanael
</footer>