<h1><code>Uno</code></h1>
<table>
    <th>Number of players:</th>
    <tr>
        <td>
          <input type="text" id= "number" readonly="true"/>
        </td>
        <td>
            <button type="button" (click) = "incrementValue()" id="btnAdd">Add</button>
        </td>
        <td>
          <button type="button" (click) = "decreaseValue()"id="btnRemove">Remove</button>
        </td>
    </tr>
    <tr>
      <td>
         <button type="button" (click) = "dealCards()">Start Game</button>
      </td>
    </tr>
</table>